<!-- FOOTER -->
<footer class="top-border text-white mt-3 p-3 bg-success">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center">
          BUEN SABOR &copy; 2021&nbsp;
        </p>
      </div>
      <div class="col-sm-12 lead text-center">
        <p>
          <b>Nuestros horarios: </b><br>
          <span>De lunes a domingo de {{horaInicial}}:{{minuto}} a {{horaFinal}}:{{minuto}} horas.</span><br>
          <span>Sábado y domingo de {{horaInicialSabDom}}:{{minuto}} a {{horaFinallSabDom}}:{{minuto}} horas.</span>
        </p>

      </div>
    </div>
  </div>
</footer>