<main class="d-flex align-items-center my-3">
    <div class="container col-md-8">
      <div class="card login-card">
        <div class="row no-gutters ">
          <div class="col-md-6 d-flex">
            <img src="assets/img/burguer.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/img/logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Nueva contraseña</p>
              <form #f="ngForm" (ngSubmit)="changePassword()" novalidate>
                <div class="form-group mb-4">
                  <input type="password" id="password" name="password" class="form-control" placeholder="contraseña" autocomplete="off"
                  [(ngModel)]="password">
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="confirmar contraseña" autocomplete="off"
                    [(ngModel)]="confirmPassword">
                  </div>
                <button name="login" id="login" class="btn btn-block login-btn mb-4" >Confirmar contraseña</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
