<!-- FOOTER
<footer class="top-border text-white mt-3 p-3 bg-success">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center">
          BUEN SABOR &copy; 2021&nbsp;
        </p>
      </div>
      <div class="col-sm-12 lead text-center">
        <p>
          <b>Nuestros horarios: </b><br>
          <span>De lunes a domingo de {{horaInicial}}:{{minuto}} a {{horaFinal}}:{{minuto}} horas.</span><br>
          <span>Sábado y domingo de {{horaInicialSabDom}}:{{minuto}} a {{horaFinallSabDom}}:{{minuto}} horas.</span>
        </p>

      </div>
    </div>
  </div>
</footer> -->

<footer class="footer-class">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading">
          <a href="#" class="logo">
            <img
            width="160"
            height="90"
            alt="Angular Logo"
            src="assets/img/logo.png"/>
          </a>
        </h2>
        <p>
          <b>Nuestros horarios: </b><br>
          <span>De lunes a domingo de {{horaInicial}}:{{minuto}} a {{horaFinal}}:{{minuto}} horas.</span><br>
          <span>Sábado y domingo de {{horaInicialSabDom}}:{{minuto}} a {{horaFinallSabDom}}:{{minuto}} horas.</span>
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p class="copyright">
        Copyright &copy; Todos los derechos reservados <i class="fas fa-heart"></i> por <a href="#" target="_blank">Rebels</a>
      </p>
      </div>
    </div>
  </div>
</footer>