<footer class="footer-class">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading">
          <a href="#" class="logo">
            <img
            width="160"
            height="90"
            alt="Angular Logo"
            src="assets/img/logo.png"/>
          </a>
        </h2>
        <p>
          <b>Nuestros horarios: </b><br>
          <span>De lunes a domingo de {{horaInicial}}:{{minuto}} a {{horaFinal}}:{{minuto}} horas.</span><br>
          <span>Sábado y domingo de {{horaInicialSabDom}}:{{minuto}} a {{horaFinallSabDom}}:{{minuto}} horas.</span>
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p class="copyright">
        Copyright &copy; Todos los derechos reservados <i class="fas fa-heart"></i> por <a style="cursor: pointer;" data-toggle="modal" data-target="#rebels">Rebels</a>
      </p>
      </div>
    </div>
  </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="rebels" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Equipo de desarrollo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Marianela Maggini</h5>
              <small>Developer</small>
            </div>
            <p class="mb-1">Análisis de los requerimientos.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Lautaro Panella</h5>
              <small class="text-muted">Developer</small>
            </div>
            <p class="mb-1">Eficiencia y calidad.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Bruno Tarditi</h5>
              <small class="text-muted">Developer</small>
            </div>
            <p class="mb-1">Creatividad y dedicación.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>