<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid fondoJumbo rounded-0">
  <div class="container">
    <h1 class="display-3 text-white">¡Antojate tranquilo y pedí lo que quieras!</h1>
    <u class="text-white"><p class="lead text-white h4 d-flex justify-content-end align-items-center">
      Nosotros te lo llevamos
    </p></u>
    <img src="../../../assets/img/deliveryBoy.png"
    alt="delivery"
    id="delivery"
    class="sizeImg"
    (mouseover)='over()'>
    
  </div>
</div>
<!-- SUB-TITULO -->
<div class="container">
  <h2>🍔 Nuestros productos</h2>
  <hr />
</div>
<div class="container">
  <div class="row my-2 mx-4">
    <div class="col">
      <app-articulos></app-articulos>
    </div>
    <!-- <div class="col-md-4">
      <app-cart></app-cart>
    </div> -->
  </div>
</div>
