.slider {
    background-image: url('../../../assets/img/slider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
}
.sizeImg{
    max-width: 180px;
    max-height: 180px
}