<body>
  <br />
  <div class="container">
    <h3>Bienvenido Admin!</h3>
    <table class="table table-hover table-dark animate__animated animate__bounceInLeft">
      <thead>
        <th scope="col">SECCIONES</th>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink='/rubros'>Rubros</a></td>
        </tr>
        <tr>
          <td><a routerLink='/articulos'>Artículos</a></td>
        </tr>
        <tr>
          <td><a routerLink='/aeds'>Artículo Elaborado Detalles</a></td>
        </tr>
        <tr>
          <td><a routerLink='/recetas'>Recetas</a></td>
        </tr>
        <tr>
          <td><a routerLink='/historico-articulos'>Histórico Artículos</a></td>
        </tr>
        <tr>
          <td><a routerLink='/inventario'>Inventario</a></td>
        </tr>
        <tr>
          <td><a routerLink='/pedidos'>Pedidos</a></td>
        </tr>
        <tr>
          <td><a routerLink='/facturas'>Facturas</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
</body>