body{
    background-image: url('src/assets/bar.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 300vh;
    opacity: 0.95;
}
.tabla{
    width: 80%;
}
h3{
    color: white;
}
.imagen{
    width: 200px;
}
.btn-close{
    margin-bottom: 160px;
}
.cabecera{
    background-color: lightgrey;
}
.justificado{
    align-content: flex-end;
}