<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid fondoJumbo rounded-0">
  <div class="container">
    <h1 class="display-3 text-white">¡Antojate tranquilo y pedí lo que quieras!</h1>
    <u class="text-white">
      <p class="lead text-white h4 d-flex justify-content-end align-items-center" *ngIf="isLogged">
        NOSOTROS TE LO LLEVAMOS
      </p>
      <a routerLink="/login" class="lead text-white h4 d-flex justify-content-end align-items-center" *ngIf="!isLogged">
        INICIA SESIÓN O REGISTRATE PARA PEDIR.
      </a>
    </u>
    <img src="../../../assets/img/deliveryBoy.png" alt="delivery" id="delivery" class="sizeImg" (mouseover)='over()'>

  </div>
</div>
<!-- SUB-TITULO -->
<div class="container">
  <div class="row">
    <div class="col">
      <h3>🍔 Nuestros productos</h3>
    </div>
    <div class="col">
      <span class="lead d-flex justify-content-end align-items-end text-danger" *ngIf="isLogged && state=='Cerrado'">Local {{ state }}</span>
      <span class="lead d-flex justify-content-end align-items-end text-success" *ngIf="isLogged && state=='Abierto'">Local {{ state }}</span>
      <span class="lead d-flex justify-content-end align-items-end">Hora actual: {{ fechaActual | date:'HH:mm'}}</span>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <app-articulos></app-articulos>
</div>
