.jumbotron {
    max-height: 350px;
}

.fondoJumbo {
    background-image: url('../../../assets/img/slider.png');
    background-size: cover;
    background-position: center;
    opacity: 0.75;
}

.sizeImg{
    width: 150px;
    height: 80px;
}

hr.division{
    border: 1px solid #000;
}