<div class="container mt-2">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pedido número</th>
            <th scope="col">Estado</th>
            <th scope="col">Hora de entrega</th>
            <th scope="col">Total</th>
            <th scope="col">Comprobante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1111</td>
            <td>Entregado</td>
            <td>{{fecha | date:'EEE, d of LLL of yyyy'}}</td>
            <td>{{total | currency: "AR":"$"}}</td>
            <td><a href="#"><i class="fas fa-cart-arrow-down"></i></a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>2222</td>
            <td>Entregado</td>
            <td>{{fecha | date:'EEE, d of LLL of yyyy'}}</td>
            <td>{{total | currency: "AR":"$"}}</td>
            <td><a href="#"><i class="fas fa-cart-arrow-down"></i></a></td>
          </tr>
        </tbody>
      </table>
</div>
