<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Title</title>
</head>
<body>
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    BUEN SABOR
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gracias por verificar su cuenta</h5>
                    <p class="card-text">Puede comenzar a pedir en el Buen Sabor.</p>
                    <a href="http://localhost:4200/login" class="btn btn-primary">Quiero pedir</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>