<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .btn{
            background-color: #F35959;
            border: none;
            color: #f1f1f1;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;
        }
        .container {
            position: relative;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <div>
            <!--/*@thymesVar id="logo" type="String"*/-->
            <img src="http://localhost:8080/upload/files/logo.png" alt="logo" style="width:100px; height: 85px">
            <!--/*@thymesVar id="nombre" type="String"*/-->
            <h2>Hola <span th:text="${nombre}"></span></h2>
        </div>
        <div>
            <h5>Gracias por registrarte en el Buen Sabor.</h5>
            <div>
                <p>Para confirmar tu cuenta, por favor haga clic en:</p>
                <!--/*@thymesVar id="url" type="String"*/-->
                <a th:href="@{${url}}">
                    <button class="btn"> Verificar</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<!--style="margin-bottom: 15px; padding: 4px 12px; background-color: #ddffdd; border-left: 6px solid #04AA6D;"-->