body{
    background-image: url('src/assets/bar.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 300vh;
    opacity: 0.95;
}
input{
    width: 70%;
}
table{
    width: 80%;
}
h3{
    color: white;
}