<body>
	<br />
	<div class="container">
		<h3>{{ titulo }}</h3>
		<div class="form-group">
			<select class="form-select" (change)="capturarValor($event)">
				<option value="">Seleccione un artículo para ver su histórico</option>
				<option *ngFor="let articulo of articulos" [value]="articulo.id">{{ articulo.denominacion }}</option>
			</select>
		</div>
		<span *ngIf="idArticulo != null">
			<table class="table table-hover table-dark">
				<thead>
					<th scope="col">#</th>
                    <th scope="col">Artículo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio unitario</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Unidad</th>
				</thead>
				<tbody>
					<tr *ngFor="let item of historicoArticulo, let i = index">
						<td>{{ i+1 }}</td>
						<td>{{ item.articulo.denominacion }}</td>
                        <td>{{ item.fecha | date }}</td>
                        <td>${{ item.precioCompra }}</td>
                        <td>{{ item.cantidad }}</td>
						<td>{{ item.articulo.unidadMedida.denominacion }}</td>
					</tr>
				</tbody>
			</table>
			<a routerLink="/nuevo-historico/{{idArticulo}}" class="btn btn-success">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
					viewBox="0 0 16 16">
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
				</svg>&nbsp;NUEVO REGISTRO
			</a>
		</span>
	</div>
	<br />
</body>