<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Calle</th>
        <th scope="col">Número</th>
        <th scope="col">Localidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1" checked>
            </div>
        </th>
        <td>Falsa</td>
        <td>123</td>
        <td>Springfield</td>
      </tr>
      <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
            </div>    
        </th>
        <td>Sarmiento</td>
        <td>555</td>
        <td>Mendoza</td>
      </tr>
      <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
            </div> 
        </th>
        <td>Piermont</td>
        <td>3828</td>
        <td>Albuquerque</td>
      </tr>
    </tbody>
  </table>
