<main class="d-flex align-items-center" style="height: 800px;">
  <div class="container col-md-5">
    <div class="card login-card">
      <div class="card-body">
        <p class="login-card-description d-flex justify-content-center align-items-center">Mi perfil</p>
        <div class="container d-flex justify-content-center align-items-center">
          <form [formGroup]="usuarioForm" (ngSubmit)="updateUser(usuarioForm.value)" >
            <div class="row ">
              <div class="col">
                <span>Nombre</span>
                <input [readonly]="!editable" type="text" class="form-control" id="nombre" formControlName="nombre">
              </div>
              <div class="col">
                <span>Apellido</span>
                <input [readonly]="!editable" type="text" class="form-control" id="apellido" formControlName="apellido">
              </div>
            </div>
            <div class="form-group">
              <span>Email</span>
              <input [readonly]="!editable" type="text" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
              <span>Teléfono</span>
              <input type="text" class="form-control" id="telefono" formControlName="telefono">
            </div>
            <button name="login" id="login" class="btn btn-block login-btn m-4">Actualizar</button>
          </form>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-block login-btn m-4" data-toggle="modal" data-target="#domicilios">
                Mis domicilios
              </button>
              <button type="button" (click)="localitiesInModal()" class="btn btn-block login-btn m-4" data-toggle="modal" data-target="#domicilio">
                Añadir domicilio
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal domicilio -->
<div class="modal fade" id="domicilios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container pt-2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Calle</th>
                  <th scope="col">Número</th>
                  <th scope="col">Localidad</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let domicilio of domicilios; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ domicilio.calle }}</td>
                  <td>{{ domicilio.numero }}</td>
                  <td>{{ domicilio.localidad.nombre }}</td>
                  <td>
                    <button (click)="deleteDomicilio(domicilio.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal domicilio -->
<div class="modal fade" id="domicilio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo domicilio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mt-2">
          <form [formGroup]="formAddress" (ngSubmit)="saveNewAddress(formAddress.value)">
            <div class="form-group">
              <label for="calle">Calle</label>
              <input type="text" class="form-control" id="calle" formControlName="calle">
              <div *ngIf="formAddress.controls.calle.touched">
                <span class="text-danger" *ngIf="formAddress.controls.calle.errors?.required">
                  La calle es requerida
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="localidad">Localidad</label>
              <select class="form-control" id="localidad" formControlName="idLocalidad">
                <option value="">Seleccione la localidad</option>
                <option *ngFor="let localidad of localidades" [value]="localidad.id">{{ localidad.nombre }}</option>
              </select>
              <div *ngIf="formAddress.controls.idLocalidad.touched">
                <span class="text-danger" *ngIf="formAddress.controls.idLocalidad.errors?.required">
                  La localidad es requerida
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="numero">Número</label>
              <input type="number" class="form-control" id="numero" formControlName="numero">
              <div *ngIf="formAddress.controls.numero.touched">
                <span class="text-danger" *ngIf="formAddress.controls.numero.errors?.required">
                  El número es requerido
                </span>
                <span class="text-danger" *ngIf="formAddress.controls.numero.errors?.maxlength.requiredLength">
                  El máximo de números es {{ formAddress.controls.numero.errors?.maxlength.requiredLength }}
                </span>
              </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!formAddress.valid">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>